[data-theme='dark'] {
  --color-bg: #0f0e1a;
  --color-info-bg: #1E293B;
  --color-surface: #181728;
  --color-surface-editor: #1e1c30;
  --color-text-primary: #F7F0FF;
  --color-text-secondary: #F7F0FF;
  --color-border: #334155;
  --color-primary: #876FC8;
  --color-tag: #0f0e1a;
  --color-tag2: #0f0e1a;
  --color-category: #0EA5E9;
  --color-icon-bg: #F1F5F9;
}