[data-theme='dark'] {
  --color-bg: #0f0e1a;
  --color-surface: #181728;
  --color-surface-editor: #1e1c30;
  --color-text-primary: #F7F0FF;
  --color-text-secondary: #F7F0FF;
  --color-border: #334155;
  --color-primary: #876FC8;
}